
#txt{
  font-size: 50px;
}

.holder{
  border: 1px;
  background: pink;
}

.login{
  

}

.contentholder {
 max-width: 60%;

 margin-left:auto;
 margin-right:auto; 

 margin-top: 180px
}

.contentnumber {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px
}

